a, .nav-link {
  color: #665C84;
  font-size: 20px;
  text-decoration: none;
  padding-left: .75em;
  padding-right: .75em;

}

a:hover {
  color: #FAB95B;
}

.navbar {
  padding: 0px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 80vw;
}

.navbar, .navbar-expand-md, .navbar-light {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#logo {
  font-size: 24px;
  font-weight: bold;
}
