h2 {
  color: white !important;
}

a, .nav-link {
  color: #665c84;
  font-size: 20px;
  text-decoration: none;
  padding-left: .75em;
  padding-right: .75em;

}

a:hover {
  color: #FAB95B;
}

.navbar-brand {
  font-weight: bold;
  font-size: large;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 95vw;
}

.navbar, .navbar-expand-md, .navbar-light {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#logo {
  font-size: 24px;
  font-weight: bold;
}

.social-media{
  color: black;
  padding: 3%;
  width: auto;
}

.social-section {
  padding-top: 3%;
  text-align: center;

}

.uw-logo {
  width: 0.5vw;
}

.copyright{
  text-align: center;
  padding-top: 1%;
}
