a, .nav-link {
  color: #665C84;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #FAB95B;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 80vw;
}

.navbar, .navbar-expand-md, .navbar-light {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#logo {
  font-size: 24px;
  font-weight: bold;
}
